[user]
	email = mhdahmadx@gmail.com
	name = Muhammad Ahmad 🌌
[commit]
	template = ~/workspace/dotfiles/git/.gitmessage
[init]
	defaultBranch = main
[core]
	editor = nvim
[pull]
	rebase = false
[alias]
	ci = commit
	st = status
	br = branch
	co = checkout
